* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/png/wallpaper-new.png");
  /* background-color: #0e1f29; */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #111;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
}

.navbar .domain a {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Doto";
  color: white;
  text-decoration: none;
  user-select: none;
  padding-right: 1rem;
}

.navbar .contributions-page a,
.about-me-page a {
  font-size: 1rem;
  color: white;
  font-family: "Urbanist";
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.vertical-line {
  border-left: 2px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: dashed;
  border-color: #333;
  height: 2rem;
}
